variables

In [1]:
r=10

In [2]:
print(r)

10

In [3]:
age=10
name='simran'
experience=2.5
emp=True

In [5]:
print(name,age,experience,emp)

simran 10 2.5 True

In [6]:
print(type(name))
print(type(age))
print(type(experience))
print(type(emp))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

control structures

In [7]:
#for loop
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(8,10):
  print(i)

8
9

In [12]:
#while loops
i=15
while i>=10:
  print(i)
  i = i-1

15
14
13
12
11
10

In [18]:
#if conditions
i=20
if(i ==10):
  print('Yes')
else:
  print('No')

No

Data Structure

* List ordered collection
* Tuples immutable
* Sets only contain hashable items
* Dictionaries are key value pairs

In [19]:
list =[1,2.5,'list']
list

[1, 2.5, 'list']

In [20]:
list.append(14)

In [21]:
list

[1, 2.5, 'list', 14]

In [22]:
#tuple
tuple1=(1,2.5,'tuple')
tuple1

(1, 2.5, 'tuple')

In [23]:
tuple1.append(16)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
#dictionaries
dict1={"name":"simran","age":10}
dict1

{'name': 'simran', 'age': 10}

In [26]:
dict1["proffesion"]="jobless"
dict1

{'name': 'simran', 'age': 10, 'proffesion': 'jobless'}

classes and functions

In [27]:
#functions
def func1(name):
  print(f"Welcome to {name}")


func1('SmartEd')

Welcome to SmartEd

In [30]:
#class
class Demo:
  def __init__(self,name):
    self.name=name
  def func2(self):
    print(f"Welcome to {self.name}")

obj=Demo('SmartEd')
obj.func2()

Welcome to SmartEd

calculator

In [35]:
class calc:
  def __init__(self):
    self.value1=0
    self.value2=0
  def get_input(self):
    while True:
      try:
        self.value1 = float(input("Enter first number: "))
        self.value2 = float(input("Enter second number: "))
        return
      except ValueError:
        print("please Enter a VALID number")
  def add(self):
    return self.value1 + self.value2
  def sub(self):
    return self.value1 - self.value2
  def mul(self):
    return self.value1 * self.value2
  def div(self):
    try:
      return self.value1 / self.value2
    except ZeroDivisionError:
       return "You cant do that"

In [38]:
first_try =calc()
first_try.get_input()

print(f"Addition: {first_try.add()}")
print(f"Subtraction: {first_try.sub()}")
print(f"Multiplication: {first_try.mul()}")
print(f"Division: {first_try.div()}")

Enter first number: 35
Enter second number: 20
Addition: 55.0
Subtraction: 15.0
Multiplication: 700.0
Division: 1.75

In [45]:
cal = calc()

while True:
  print("select an option:")
  print("1 for addition")
  print("2 for subtraction")
  print("3 for multiplication")
  print("4 for division")


  choice = input("Enter your choice: ")

  if choice in ('1','2','3','4'):
    cal.get_input()
    if choice == '1':
      result = cal.add()
      print("Addition:",result)
    elif choice == '2':
      result = cal.sub()
      print("Subtraction:",result)
    elif choice == '3':
      result = cal.mul()
      print("Multiplication:",result)
    elif choice == '4':
      result = cal.div()
      print("Division:",result)
    else:
      print("invalid input")

  new_cal=input('Do you want to do another calculation? (Yes/No):')
  if new_cal.lower() != 'yes':
    break

select an option:
1 for addition
2 for subtraction
3 for multiplication
4 for division
Enter your choice: 4
Enter first number: 6
Enter second number: 3
Division: 2.0
Do you want to do another calculation? (Yes/No):no